<launch>
    <arg name="gui" default="true"/>
    <arg name="robot_name" default="amy" doc="The robot controller type"/>
    <arg name="robot_type" default="wolfgang" doc="The robot controller type"/>

    <param name="/simulation_active" value="true"/>
    <param name="/use_sim_time" value="true"/>

    <group if="$(arg gui)">
        <node pkg="wolfgang_pybullet_sim" type="simulation_with_gui.py" name="pybullet_sim" output="screen"
              args="--robot_name $(arg robot_name) --robot_type $(arg robot_type)">
            <rosparam file="$(find wolfgang_pybullet_sim)/config/config.yaml"/>
        </node>
    </group>
    <group unless="$(arg gui)">
        <node pkg="wolfgang_pybullet_sim" type="simulation_headless.py" name="pybullet_sim" output="screen"
              args="--robot_name $(arg robot_name) --robot_type $(arg robot_type)">
            <rosparam file="$(find wolfgang_pybullet_sim)/config/config.yaml"/>
        </node>
    </group>
</launch>